torch
torchvision
torchaudio
diffusers
transformers
accelerate
safetensors
datasets
Pillow
tqdm
gradio
matplotlib
opencv-python-headless
scipy
numpy
scikit-image
peft
wandb
sentencepiece
gfpgan
realesrgan
basicsr
facexlib
opencv-python